* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.text  {
    text-align: center;
    padding: 35px;
}

h1{
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

h2 {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 46px;
}

.row {
    display: flex;
}

.column {
     flex: 15%;
     padding: 5px;
 }
